.footer {
    background-color: $medium-black;
    color: white;
    justify-content: space-around;
    min-height: 100vh;
    padding-bottom: 0;
    padding-top: 100px;
    display: flex;
    // align-items: center;
    &__container {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 100px 1fr;
        margin: 30px 10%;

    }
    &__social {
        display: flex;
        width: 90%;
        box-sizing: border-box;
        flex-direction: column;
        // align-items: center;
        &-text {
            // font-size: 1.3em;
            a {
                color: white;
            }
        }
        &-icons {
            margin-top: 40px;
        }
        &-iconbox {
            display: flex;
            align-items: center;
            width: 100%;
        }
        &-title {
            font-size: 2em;
            font-family: $open-sans;
        }
        &-instagram {
            display: inline-block;
            width: 30px;
            height: 30px;
            fill: white;
            margin: 10px 15px 10px 0;
        }
        &-facebook {
            width: 30px;
            height: 30px;
            fill: white;
            margin: 10px 15px 10px 0;
        }
        &-linkedin {
            width: 30px;
            height: 30px;
            fill: white;
            margin: 10px 15px 10px 0;
        }
    }
    &__divider {
        background-color: white;
        width: 1px;
        height: 100%;
    }
    &__form {
        &-title {
            font-size: 2em;
            font-family: $open-sans;
        }
    }
    &__copyright {
        margin: 90px 0;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }
}

.form {
	width: 100%;
	margin: 0 auto;
	padding: 25px;
	display: flex;
    justify-content: center;
    &__input {
        font-family: $inconsolata;
    }
    &__label {
        font-family: $open-sans;
        font-weight: 400;
        color: white;
    }
}

@media (max-width: 768px) {
    .skill {
        width: 40%;
        &s__parallax {
            justify-content: center;
        }
    }

}

@media (max-width: 530px) {
	.skill {
		width: 70%;
		&s__parallax {
			justify-content: center;
		}
	}

}
