.project {

	&s {
		min-height: 100vh;
		padding: 50px 0;
	}
	&__container {
		height: 75%;
		display: flex;
		transition: all .5s ease-in;
		flex-wrap: wrap;

	}
	&__title { 
		color: black;
		// width: 100%;
		font-size: 3em;
		font-weight: 400;
		font-family: $open-sans;
		padding-top: 70px;
		margin: 20px 10%;
	}
	&__content {
		background-color: transparent;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 20px;
		z-index: 3;
	}
	&__image {
		filter: blur(5px);
		z-index: 2;
		position: absolute;
		width: 150%;
		height: 150%;
		top: 0;
		left: 0;
		transform: scale(1.1); 
	}
	&__card {

		flex: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		overflow: hidden;
		height: 300px;
		max-width: 100%;
		min-width: 33%;
		&-title {
			font-family: $open-sans;
			font-weight: 700;
			font-size: 2em;
			align-self: center;
			position: absolute;
			z-index: 4;
			color: black;
			transition: all .5s ease-in-out .25s;
		}
		&-text {
			padding: 20px;
			position: absolute;
			z-index: 4;
			color: black;
			top: 100%;
			transition: all .5s ease-in-out .25s;
		}
		&:hover {
			p {
				opacity: 1;
				transform: translateY(-200px);
			}
			h3 {
				transform: translateY(-160%);
			}
		}
	}
	&__button {
        color: white;
        font-weight: 400;
        font-size: 1.5em;
        grid-column-start: 3;
        margin-top: 80px;
        background-image: linear-gradient(to right top, #0e066f, #121180, #141c92, #1426a4, #1131b7, #0b3cc0, #0547c9, #0052d2, #005dd1, #0067cd, #0070c8, #0078c2);
        border: 0;
        padding: 10px;
        // border-radius: 
    }
}

// @media (max-width: 768px) {
// 	.project__container {
// 		grid-template-columns: 1fr 1fr;
// 	}
// 	.project__card {
// 		grid-column: 1;

// 	}
// }

// @media (max-width: 530px) {
// 	.project__container {
// 		grid-template-columns: 100%;
// 		grid-template-rows: repeat(6, 300px);
// 		height: 100%;
// 	}
// 	.project__card {
// 		grid-column: 1;

// 	}

// }