.skill {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 210px;
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	transition: all .5s ease-in-out;
	margin: 15px;
	overflow: hidden;

	&s {
		background-image: url("../../../assets/images/newSVG/Flat-Mountains.svg");
		background-color: tomato;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vh;
		&__title {
			color: white;
			width: 100%;
			font-family: $open-sans;
			font-size: 3em; 
		}
		&__parallax {
			padding: 100px 10%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	
	
	&__title {
		padding: 15px 0 0 0;
		color: $medium-black;
		font-size: 1.5em;
		align-items: flex-end;
		transition: all .5s ease-in;
		
	}
	&__images {
		justify-self: center;
		&-html {
			transition: all .5s ease-in;
			fill: $medium-black;	
			width: 80px; 
		}
		&-sass {
			fill: $medium-black;	
			width: 80px;		
		}
		&-js {
			fill: $medium-black;	
			width: 80px;
		}
		&-react {
			fill: $medium-black;	
			width: 80px;	
		}
		&-git {
			fill: $medium-black;	
			width: 80px;	
		}
		&-wp {
			fill: $medium-black;	
			width: 80px;		
		} 
	}

	&__main {
		display: flex;
    	flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	
}

.active {
	justify-content: center;

	.skill {
		transform: scale(2);
		&__images {
			transform: scale(.6);
		}
		&__title {
			transform: scale(.8);
			padding: 0;
		}
		&__bar {
			transform: translateY(0);
			width: 85%;
			margin-top: 15px;
			&.html {
				&::after {
					width: 95%;
					height: 15px;
					width: 90%;
				}
			}
			&.sass {
				&::after {
					width: 90%;
					height: 15px;
					width: 75%;
				}
			}
			&.js {
				&::after {
					width: 90%;
					height: 15px;
					width: 70%;
				}
			}
			&.react {
				&::after {
					width: 90%;
					height: 15px;
					width: 30%;
				}
			}
			&.git {
				&::after {
					width: 90%;
					height: 15px;
					width: 80%;
				}
			}
			&.wp {
				&::after {
					width: 90%;
					height: 15px;
					width: 80%;
				}
			}
			
		}
	}
	
}

.html-skill.active {
	background-color: $html-blue;
	.skill__title {
		color: white;
	}
	.skill__images-html {
		fill: white;
	}
}
.sass-skill.active {
	background-color: $sass-pink;
	.skill__title {
		color: white;
	}
	.skill__images-sass {
		fill: white;
	}
}
.javascript-skill.active {
	background-color: $js-yellow;
	.skill__title {
		color: white;
	}
	.skill__images-js {
		fill: white;
	}
}
.react-skill.active {
	background-color: $react-blue;
	.skill__title {
		color: white;
	}
	.skill__images-react {
		fill: white;
	}
}
.git-skill.active {
	background-color: $git-orange;
	.skill__title {
		color: white;
	}
	.skill__images-git {
		fill: white;
	}
}
.wp-skill.active {
	background-color: $wp-blue;
	.skill__title {
		color: white;
	}
	.skill__images-wp {
		fill: white;
	}
}

.html-skill {
	background-color: white;
	&:hover{
		background-color: $html-blue;
		.skill__title {
			color: white;
		}
		.skill__images-html {
			fill: white;
		}
	}
}

.sass-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $sass-pink;
		.skill__title {
			color: white;
		}
		.skill__images-sass {
			fill: white;
		}
	}
}

.javascript-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $js-yellow;
		.skill__title {
			color: white;
		}
		.skill__images-js {
			fill: white;
		}
	}
}

.react-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $react-blue;
		.skill__title {
			color: white;
		}
		.skill__images-react {
			fill: white;
		}
	}
}

.git-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $git-orange;
		.skill__title {
			color: white;
		}
		.skill__images-git {
			fill: white;
		}
	}
}

.wp-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $wp-blue;
		.skill__title {
			color: white;
		}
		.skill__images-wp {
			fill: white;
		}
	}
}


.skill__bar {
	display: flex;
	width: 85%;
	background-color: white;
	height: 20px;
	border-radius: 10px;
	align-items: center;
	padding-left: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	justify-content: space-around;
	flex-direction: column;
	transform: translateY(100px);
	transition: all .5s ease-in-out;

	&::after {
		transition: all .5s ease-in;
		content: "";
		background-color: black;
		height: 15px;
		width: 0%;
		border-radius: 10px;
		align-self: flex-start;
	}
	&-text {
		position: absolute;
		mix-blend-mode: difference;
	}
}



@media (max-width: 768px) {
	.skill {
		width: 40%;
		&s__parallax {
			justify-content: center;
		}
	}

}

@media (max-width: 530px) {
	.skill {
		width: 70%;
		&s__parallax {
			justify-content: center;
		}
	}

}