.skill {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 210px;
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	// border-radius: 4px;
	margin: 15px;

	&s {
		background-image: url("../../../assets/images/newSVG/Flat-Mountains.svg");
		background-color: tomato;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vh;
		&__title {
			color: white;
			width: 100%;
			font-family: $open-sans;
			font-size: 3em; 
		}
		&__parallax {
			padding: 100px 10%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	
	
	&__title {
		padding: 15px 0 20px 0;
		color: $medium-black;
		font-size: 1.5em;
		align-items: flex-end;
		
	}
	&__images {
		justify-self: center;
		&-html {
			fill: $medium-black;	
			width: 80px; 
		}
		&-sass {
			fill: $medium-black;	
			width: 80px;		
		}
		&-js {
			fill: $medium-black;	
			width: 80px;
		}
		&-react {
			fill: $medium-black;	
			width: 80px;	
		}
		&-git {
			fill: $medium-black;	
			width: 80px;	
		}
		&-wp {
			fill: $medium-black;	
			width: 80px;		
		} 
	}

	&__big {
		display: flex;
		// width: 100%;
	}
	&__first {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	&__second {
		display: none;
	}
	
}

.active {
	justify-content: center;
	.skill__big {
		justify-content: space-between;
		width: 70%;
	}
	.skill__third {
		display: block;
	}
	.skill__second {
		display: block;
		font-size: .9em;
	}
	.skill__third {
		padding-top: 8px;
	}
	.skill__images-html {
		width: 40px;
	}
	.skill__title {
		font-size: .9em;
		padding: 0;
	}
	progress {
		margin: 0;
	}
}

.html-skill {
	background-color: white;
	transition: all .5s ease-in;
	&:hover{
		background-color: $html-blue;
		.skill__title {
			color: white;
		}
		.skill__images-html {
			fill: white;
		}
	}
}

.sass-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $sass-pink;
		.skill__title {
			color: white;
		}
		.skill__images-sass {
			fill: white;
		}
	}
}

.javascript-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $js-yellow;
		.skill__title {
			color: white;
		}
		.skill__images-js {
			fill: white;
		}
	}
}

.react-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $react-blue;
		.skill__title {
			color: white;
		}
		.skill__images-react {
			fill: white;
		}
	}
}

.git-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $git-orange;
		.skill__title {
			color: white;
		}
		.skill__images-git {
			fill: white;
		}
	}
}

.wp-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $wp-blue;
		.skill__title {
			color: white;
		}
		.skill__images-wp {
			fill: white;
		}
	}
}

progress {
	margin-bottom: 10px;
	&[value] {
		appearance: none;
		max-width: 200px;
		height: 15px;
		
		&::-webkit-progress-bar {
			background-color: #eee;
			border-radius: 2px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		}
		&::-webkit-progress-value {
			background-image: linear-gradient(to right,  #00c6ab, #009bff);
			border-radius: 2px; 
		}


		&::-moz-progress-bar {
			background-image: -moz-linear-gradient(to right,  #00c6ab, #009bff);
			border-radius: 2px; 
		}
	}
}

.skill__third {
	display: none;
}

@media (max-width: 768px) {
	.skill {
		width: 40%;
		&s__parallax {
			justify-content: center;
		}
	}

}

@media (max-width: 530px) {
	.skill {
		width: 70%;
		&s__parallax {
			justify-content: center;
		}
	}

}