.skill {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 200px;
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	border-radius: 4px;
	margin: 15px;

	&s {
		background-image: url("../../../assets/images/newSVG/Flat-Mountains.svg");
		background-color: tomato;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vh;
		&__title {
			color: white;
			width: 100%;
			font-family: $open-sans;
			// text-align: center;
			font-size: 3em; 
			// text-decoration: underline;
		}
		&__parallax {
			// max-height: 80vh;	
			padding: 100px 10%;
			// padding: 100px 50px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	&__title {
		// text-align: center;
		padding: 15px 0 20px 0;
		color: $medium-black;
		font-size: 1.5em;
		align-items: flex-end;

	}
	&__images {
		display: flex;
		justify-content: center;
		&-html {
			fill: $medium-black;	
			width: 80px; 
		}
		&-sass {
			fill: $medium-black;	
			width: 80px;		
		}
		&-js {
			fill: $medium-black;	
			width: 80px;
		}
		&-react {
			fill: $medium-black;	
			width: 80px;	
		}
		&-git {
			fill: $medium-black;	
			width: 80px;	
		}
		&-wp {
			fill: $medium-black;	
			width: 80px;		
		} 
	}

}

.html-skill {
	background-color: white;
	transition: all .5s ease-in;
	&:hover{
		background-color: $html-blue;
		.skill__title {
			color: white;
		}
		.skill__images-html {
			fill: white;
		}
	}
}

.sass-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $sass-pink;
		.skill__title {
			color: white;
		}
		.skill__images-sass {
			fill: white;
		}
	}
}

.javascript-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $js-yellow;
		.skill__title {
			color: white;
		}
		.skill__images-js {
			fill: white;
		}
	}
}

.react-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $react-blue;
		.skill__title {
			color: white;
		}
		.skill__images-react {
			fill: white;
		}
	}
}

.git-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $git-orange;
		.skill__title {
			color: white;
		}
		.skill__images-git {
			fill: white;
		}
	}
}

.wp-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $wp-blue;
		.skill__title {
			color: white;
		}
		.skill__images-wp {
			fill: white;
		}
	}
}
