$medium-black: #444649;
$low-black: #616161;
$wp-blue: #0073aa;
$sass-pink: #cf649a;
$react-blue: #61dafb;
$js-yellow: #f7e018;
$git-orange: #f54d27;
$html-blue: #254bde;
$incosolata: 'Inconsolata', monospace;
$open-sans: 'Open Sans', sans-serif;
$light-blue: #61d1eb;
$mid-blue: #6199fb;
$darker-blue: #306efe;