.skill {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 200px;
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	border-radius: 4px;
	margin: 15px;

	&s {
		margin: 0 auto;
		height: 80vh;
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		&__title {
			color: $medium-black;
			width: 100%;
			text-align: center;
			font-size: 2em;
			text-decoration: underline;
		}
	}

	&__title {
		text-align: center;
		padding: 15px 0 20px 0;
		color: $medium-black;
		font-size: 1.5em;
		align-items: flex-end;

	}
	&__images {
		display: flex;
		justify-content: center;
		&-html {
			fill: $medium-black;	
			padding: 0 20px;
			width: 100px; 
		}
		&-css {
			fill: $medium-black;	
			padding: 0 20px;
			width: 80px;	
		}
		&-sass {
			fill: $medium-black;	
			width: 100px;		
		}
		&-js {
			fill: $medium-black;	
			width: 80px;
		}
		&-react {
			fill: $medium-black;	
			width: 40%;	
		}
		&-git {
			fill: $medium-black;	
			width: 20%;	
		}
		&-wp {
			fill: $medium-black;	
			width: 20%;		
		} 
	}

}

.html-skill {
	background-color: white;
	transition: all .5s ease-in;
	&:hover{
		background-color: $html-blue;
		.skill__title {
			color: white;
		}
		.skill__images-html,
		.skill__images-css {
			fill: white;
		}
	}
}

.sass-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $sass-pink;
		.skill__title {
			color: white;
		}
		.skill__images-sass {
			fill: white;
		}
	}
}

.javascript-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $js-yellow;
		.skill__title {
			color: white;
		}
		.skill__images-js {
			fill: white;
		}
	}
}

.react-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $react-blue;
		.skill__title {
			color: white;
		}
		.skill__images-react {
			fill: white;
		}
	}
}

.git-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $git-orange;
		.skill__title {
			color: white;
		}
		.skill__images-git {
			fill: white;
		}
	}
}

.wp-skill {
	background-color: white;
	transition: background-color .5s ease-in;
	&:hover{
		background-color: $wp-blue;
		.skill__title {
			color: white;
		}
		.skill__images-wp {
			fill: white;
		}
	}
}
